

body {
    font-family: sans-serif;
}

h1 {
    text-indent:6%;
    text-decoration: underline;
}

#morpion tr td {
    border: 2px solid black;
    vertical-align : middle;
    text-align : center;
    width: 140px;
    height: 140px;
    font-size: 70;
    cursor: pointer;
}

#victoire {
    font-size: 3rem;
    color: #2da549;
}

button {
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #ffffff;
    box-shadow: 3px 3px #000000;
    cursor: pointer;
    margin: 35px 0;
  }
